In [33]:
import pandas as pd
text = pd.read_csv("data/constitutions.csv")
labels = pd.read_csv("data/world-bank.csv")
text['country'] = text['country'].replace(['united-states-of-america'],'united-states')

In [34]:
countries_labels = set(dict.fromkeys(labels['country']))
countries_text = set(dict.fromkeys(text['country']))
negative_intersection = countries_labels.symmetric_difference(countries_text)

In [35]:
print(negative_intersection)

{'timo', 'iran', 'saint-vincent-and-the-grenadines', 'baden', 'congo', 'bavaria', 'taiwan', 'slovakia', 'egypt', 'korea', 'yemen', 'palestine', 'saint-lucia', 'micronesia', 'saint-kitts-and-nevis', 'kyrgyzstan', 'guine', 'lao-peopl'}

In [36]:
not_labeled = pd.DataFrame((text.loc[text['country'] =='saint-kitts-and-nevis']))
for elem in list(negative_intersection):
    not_labeled = not_labeled.append(text.loc[text['country'] == elem], ignore_index=False)
    text = text[text.country != elem]

In [37]:
countries_labels = set(dict.fromkeys(labels['country']))
countries_text = set(dict.fromkeys(text['country']))
negative_intersection = countries_labels.symmetric_difference(countries_text)

In [38]:
negative_intersection

set()

In [39]:
import numpy as np

labels.replace("..", np.nan, inplace=True)

In [43]:
labels.to_csv("data/labels.csv", index=False)
labels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 704 entries, 0 to 703
Data columns (total 43 columns):
 #   Column                                                                       Non-Null Count  Dtype
---  ------                                                                       --------------  -----
 0   Population, total (millions)                                                 703 non-null    object
 1   Population growth (annual %)                                                 703 non-null    object
 2   Surface area (sq. km) (thousands)                                            699 non-null    object
 3   Population density (people per sq. km of land area)                          701 non-null    object
 4   GNI, Atlas method (current US$) (billions)                                   647 non-null    object
 5   GNI per capita, Atlas method (current US$)                                   647 non-null    object
 6   GNI, PPP (current international $) (billions)                                641 non-null    object
 7   GNI per capita, PPP (current international $)                                640 non-null    object
 8   Life expectancy at birth, total (years)                                      681 non-null    object
 9   Fertility rate, total (births per woman)                                     684 non-null    object
 10  Adolescent fertility rate (births per 1,000 women ages 15-19)                668 non-null    object
 11  Births attended by skilled health staff (% of total)                         542 non-null    object
 12  Mortality rate, under-5 (per 1,000 live births)                              696 non-null    object
 13  Immunization, measles (% of children ages 12-23 months)                      688 non-null    object
 14  Primary completion rate, total (% of relevant age group)                     531 non-null    object
 15  School enrollment, primary (% gross)                                         634 non-null    object
 16  School enrollment, secondary (% gross)                                       597 non-null    object
 17  School enrollment, primary and secondary (gross), gender parity index (GPI)  580 non-null    object
 18  Prevalence of HIV, total (% of population ages 15-49)                        498 non-null    object
 19  Forest area (sq. km) (thousands)                                             698 non-null    object
 20  Annual freshwater withdrawals, total (% of internal resources)               574 non-null    object
 21  Urban population growth (annual %)                                           699 non-null    object
 22  CO2 emissions (metric tons per capita)                                       696 non-null    object
 23  GDP (current US$) (billions)                                                 679 non-null    object
 24  GDP growth (annual %)                                                        668 non-null    object
 25  Inflation, GDP deflator (annual %)                                           668 non-null    object
 26  Agriculture, forestry, and fishing, value added (% of GDP)                   626 non-null    object
 27  Industry (including construction), value added (% of GDP)                    624 non-null    object
 28  Exports of goods and services (% of GDP)                                     607 non-null    object
 29  Imports of goods and services (% of GDP)                                     607 non-null    object
 30  Gross capital formation (% of GDP)                                           592 non-null    object
 31  Time required to start a business (days)                                     457 non-null    object
 32  Military expenditure (% of GDP)                                              572 non-null    object
 33  Mobile cellular subscriptions (per 100 people)                               692 non-null    object
 34  Individuals using the Internet (% of population)                             683 non-null    object
 35  Merchandise trade (% of GDP)                                                 657 non-null    object
 36  Net barter terms of trade index (2000 = 100)                                 587 non-null    object
 37  Net migration (thousands)                                                    668 non-null    object
 38  Personal remittances, received (current US$) (millions)                      594 non-null    object
 39  Foreign direct investment, net inflows (BoP, current US$) (millions)         673 non-null    object
 40  Net official development assistance received (current US$) (millions)        518 non-null    object
 41  Date                                                                         704 non-null    int64
 42  country                                                                      704 non-null    object
dtypes: int64(1), object(42)
memory usage: 236.6+ KB

In [41]:
labels.drop(columns=['Poverty headcount ratio at national poverty lines (% of population)',
                     'Poverty headcount ratio at $1.90 a day (2011 PPP) (% of population)',
                     'Income share held by lowest 20%',
                     'Contraceptive prevalence, any method (% of married women ages 15-49)',
                     'Prevalence of underweight, weight for age (% of children under 5)',
                     'Terrestrial and marine protected areas (% of total territorial area)',
                     'Electric power consumption (kWh per capita)',
                     'Energy use (kg of oil equivalent per capita)',
                     'Net lending (+) / net borrowing (-) (% of GDP)',
                     'Domestic credit provided by financial sector (% of GDP)',
                     'High-technology exports (% of manufactured exports)',
                     'Revenue, excluding grants (% of GDP)',
                     'Statistical Capacity Score (Overall Average) (scale 0 - 100)',
                     'Total debt service (% of exports of goods, services and primary income)',
                     'Tax revenue (% of GDP)',
                     'External debt stocks, total (DOD, current US$) (millions)',
                     
                    ], inplace=True)

In [44]:
labels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 704 entries, 0 to 703
Data columns (total 43 columns):
 #   Column                                                                       Non-Null Count  Dtype
---  ------                                                                       --------------  -----
 0   Population, total (millions)                                                 703 non-null    object
 1   Population growth (annual %)                                                 703 non-null    object
 2   Surface area (sq. km) (thousands)                                            699 non-null    object
 3   Population density (people per sq. km of land area)                          701 non-null    object
 4   GNI, Atlas method (current US$) (billions)                                   647 non-null    object
 5   GNI per capita, Atlas method (current US$)                                   647 non-null    object
 6   GNI, PPP (current international $) (billions)                                641 non-null    object
 7   GNI per capita, PPP (current international $)                                640 non-null    object
 8   Life expectancy at birth, total (years)                                      681 non-null    object
 9   Fertility rate, total (births per woman)                                     684 non-null    object
 10  Adolescent fertility rate (births per 1,000 women ages 15-19)                668 non-null    object
 11  Births attended by skilled health staff (% of total)                         542 non-null    object
 12  Mortality rate, under-5 (per 1,000 live births)                              696 non-null    object
 13  Immunization, measles (% of children ages 12-23 months)                      688 non-null    object
 14  Primary completion rate, total (% of relevant age group)                     531 non-null    object
 15  School enrollment, primary (% gross)                                         634 non-null    object
 16  School enrollment, secondary (% gross)                                       597 non-null    object
 17  School enrollment, primary and secondary (gross), gender parity index (GPI)  580 non-null    object
 18  Prevalence of HIV, total (% of population ages 15-49)                        498 non-null    object
 19  Forest area (sq. km) (thousands)                                             698 non-null    object
 20  Annual freshwater withdrawals, total (% of internal resources)               574 non-null    object
 21  Urban population growth (annual %)                                           699 non-null    object
 22  CO2 emissions (metric tons per capita)                                       696 non-null    object
 23  GDP (current US$) (billions)                                                 679 non-null    object
 24  GDP growth (annual %)                                                        668 non-null    object
 25  Inflation, GDP deflator (annual %)                                           668 non-null    object
 26  Agriculture, forestry, and fishing, value added (% of GDP)                   626 non-null    object
 27  Industry (including construction), value added (% of GDP)                    624 non-null    object
 28  Exports of goods and services (% of GDP)                                     607 non-null    object
 29  Imports of goods and services (% of GDP)                                     607 non-null    object
 30  Gross capital formation (% of GDP)                                           592 non-null    object
 31  Time required to start a business (days)                                     457 non-null    object
 32  Military expenditure (% of GDP)                                              572 non-null    object
 33  Mobile cellular subscriptions (per 100 people)                               692 non-null    object
 34  Individuals using the Internet (% of population)                             683 non-null    object
 35  Merchandise trade (% of GDP)                                                 657 non-null    object
 36  Net barter terms of trade index (2000 = 100)                                 587 non-null    object
 37  Net migration (thousands)                                                    668 non-null    object
 38  Personal remittances, received (current US$) (millions)                      594 non-null    object
 39  Foreign direct investment, net inflows (BoP, current US$) (millions)         673 non-null    object
 40  Net official development assistance received (current US$) (millions)        518 non-null    object
 41  Date                                                                         704 non-null    int64
 42  country                                                                      704 non-null    object
dtypes: int64(1), object(42)
memory usage: 236.6+ KB

In [47]:
text

,url,title,content,country,year,latest rev
0,https://constituteproject.org/constitution/Afg...,Afghanistan 2004,"in the name of allah, the most beneficent, the...",afghanistan,2004,2004
1,https://constituteproject.org/constitution/Afg...,Afghanistan 1964 Historical,"in the name of god, the almighty and the just....",afghanistan,1964,1964
2,https://constituteproject.org/constitution/Alb...,Albania 1998 (rev. 2016) Subsequently amended,"we, the people of albania, proud and aware of ...",albania,1998,2016
3,https://constituteproject.org/constitution/Alg...,"Algeria 1989 (reinst. 1996, rev. 2016) Historical",the algerian people are a free people; and the...,algeria,1989,2016
4,https://constituteproject.org/constitution/Alg...,Algeria 2020,the algerian people are a free people; and the...,algeria,2020,2020
...,...,...,...,...,...,...
220,https://constituteproject.org/constitution/Van...,Vanuatu 1980 (rev. 2013),"we the people of vanuatu,proud of our struggle...",vanuatu,1980,2013
221,https://constituteproject.org/constitution/Ven...,Venezuela (Bolivarian Republic of) 1999 (rev. ...,"the people of venezuela, exercising their powe...",venezuela,1999,2009
222,https://constituteproject.org/constitution/Soc...,Viet Nam 1992 (rev. 2013),"in the course of their millennia-old history, ...",vietnam,1992,2013
225,https://constituteproject.org/constitution/Zam...,Zambia 1991 (rev. 2016),"we, the people of zambia:acknowledge the supre...",zambia,1991,2016
226,https://constituteproject.org/constitution/Zim...,Zimbabwe 2013 (rev. 2017),"we the people of zimbabwe,united in our divers...",zimbabwe,2013,2017

In [ ]:
labels.to_csv("data/labels.csv", index=False)