In [1]:
import pandas as pd
text = pd.read_csv("data/constitutions.csv")
labels = pd.read_csv("data/world-bank.csv")
text['country'] = text['country'].replace(['united-states-of-america'],'united-states')

In [2]:
countries_labels = set(dict.fromkeys(labels['country']))
countries_text = set(dict.fromkeys(text['country']))
negative_intersection = countries_labels.symmetric_difference(countries_text)

In [3]:
print(negative_intersection)

{'kyrgyzstan', 'saint-lucia', 'iran', 'saint-vincent-and-the-grenadines', 'korea', 'bavaria', 'saint-kitts-and-nevis', 'egypt', 'micronesia', 'guine', 'timo', 'congo', 'slovakia', 'taiwan', 'palestine', 'baden', 'yemen', 'lao-peopl'}

In [4]:
not_labeled = pd.DataFrame((text.loc[text['country'] =='saint-kitts-and-nevis']))
for elem in list(negative_intersection):
    not_labeled = not_labeled.append(text.loc[text['country'] == elem], ignore_index=False)
    text = text[text.country != elem]

In [5]:
countries_labels = set(dict.fromkeys(labels['country']))
countries_text = set(dict.fromkeys(text['country']))
negative_intersection = countries_labels.symmetric_difference(countries_text)

In [6]:
negative_intersection

set()

In [7]:
import numpy as np

labels.replace("..", np.nan, inplace=True)

In [8]:
labels.to_csv("data/labels.csv", index=False)
labels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 704 entries, 0 to 703
Data columns (total 59 columns):
 #   Column                                                                       Non-Null Count  Dtype
---  ------                                                                       --------------  -----
 0   Population, total (millions)                                                 703 non-null    object
 1   Population growth (annual %)                                                 703 non-null    object
 2   Surface area (sq. km) (thousands)                                            699 non-null    object
 3   Population density (people per sq. km of land area)                          701 non-null    object
 4   Poverty headcount ratio at national poverty lines (% of population)          241 non-null    object
 5   Poverty headcount ratio at $1.90 a day (2011 PPP) (% of population)          395 non-null    object
 6   GNI, Atlas method (current US$) (billions)                                   647 non-null    object
 7   GNI per capita, Atlas method (current US$)                                   647 non-null    object
 8   GNI, PPP (current international $) (billions)                                641 non-null    object
 9   GNI per capita, PPP (current international $)                                640 non-null    object
 10  Income share held by lowest 20%                                              391 non-null    object
 11  Life expectancy at birth, total (years)                                      681 non-null    object
 12  Fertility rate, total (births per woman)                                     684 non-null    object
 13  Adolescent fertility rate (births per 1,000 women ages 15-19)                668 non-null    object
 14  Contraceptive prevalence, any method (% of married women ages 15-49)         438 non-null    object
 15  Births attended by skilled health staff (% of total)                         542 non-null    object
 16  Mortality rate, under-5 (per 1,000 live births)                              696 non-null    object
 17  Prevalence of underweight, weight for age (% of children under 5)            353 non-null    object
 18  Immunization, measles (% of children ages 12-23 months)                      688 non-null    object
 19  Primary completion rate, total (% of relevant age group)                     531 non-null    object
 20  School enrollment, primary (% gross)                                         634 non-null    object
 21  School enrollment, secondary (% gross)                                       597 non-null    object
 22  School enrollment, primary and secondary (gross), gender parity index (GPI)  580 non-null    object
 23  Prevalence of HIV, total (% of population ages 15-49)                        498 non-null    object
 24  Forest area (sq. km) (thousands)                                             698 non-null    object
 25  Terrestrial and marine protected areas (% of total territorial area)         173 non-null    object
 26  Annual freshwater withdrawals, total (% of internal resources)               574 non-null    object
 27  Urban population growth (annual %)                                           699 non-null    object
 28  Energy use (kg of oil equivalent per capita)                                 424 non-null    object
 29  CO2 emissions (metric tons per capita)                                       696 non-null    object
 30  Electric power consumption (kWh per capita)                                  377 non-null    object
 31  GDP (current US$) (billions)                                                 679 non-null    object
 32  GDP growth (annual %)                                                        668 non-null    object
 33  Inflation, GDP deflator (annual %)                                           668 non-null    object
 34  Agriculture, forestry, and fishing, value added (% of GDP)                   626 non-null    object
 35  Industry (including construction), value added (% of GDP)                    624 non-null    object
 36  Exports of goods and services (% of GDP)                                     607 non-null    object
 37  Imports of goods and services (% of GDP)                                     607 non-null    object
 38  Gross capital formation (% of GDP)                                           592 non-null    object
 39  Revenue, excluding grants (% of GDP)                                         421 non-null    object
 40  Net lending (+) / net borrowing (-) (% of GDP)                               407 non-null    object
 41  Time required to start a business (days)                                     457 non-null    object
 42  Domestic credit provided by financial sector (% of GDP)                      134 non-null    object
 43  Tax revenue (% of GDP)                                                       422 non-null    object
 44  Military expenditure (% of GDP)                                              572 non-null    object
 45  Mobile cellular subscriptions (per 100 people)                               692 non-null    object
 46  Individuals using the Internet (% of population)                             683 non-null    object
 47  High-technology exports (% of manufactured exports)                          285 non-null    object
 48  Statistical Capacity Score (Overall Average) (scale 0 - 100)                 260 non-null    object
 49  Merchandise trade (% of GDP)                                                 657 non-null    object
 50  Net barter terms of trade index (2000 = 100)                                 587 non-null    object
 51  External debt stocks, total (DOD, current US$) (millions)                    432 non-null    object
 52  Total debt service (% of exports of goods, services and primary income)      395 non-null    object
 53  Net migration (thousands)                                                    668 non-null    object
 54  Personal remittances, received (current US$) (millions)                      594 non-null    object
 55  Foreign direct investment, net inflows (BoP, current US$) (millions)         673 non-null    object
 56  Net official development assistance received (current US$) (millions)        518 non-null    object
 57  Date                                                                         704 non-null    int64
 58  country                                                                      704 non-null    object
dtypes: int64(1), object(58)
memory usage: 324.6+ KB

In [9]:
labels.drop(columns=['Poverty headcount ratio at national poverty lines (% of population)',
                     'Poverty headcount ratio at $1.90 a day (2011 PPP) (% of population)',
                     'Income share held by lowest 20%',
                     'Contraceptive prevalence, any method (% of married women ages 15-49)',
                     'Prevalence of underweight, weight for age (% of children under 5)',
                     'Terrestrial and marine protected areas (% of total territorial area)',
                     'Electric power consumption (kWh per capita)',
                     'Energy use (kg of oil equivalent per capita)',
                     'Net lending (+) / net borrowing (-) (% of GDP)',
                     'Domestic credit provided by financial sector (% of GDP)',
                     'High-technology exports (% of manufactured exports)',
                     'Revenue, excluding grants (% of GDP)',
                     'Statistical Capacity Score (Overall Average) (scale 0 - 100)',
                     'Total debt service (% of exports of goods, services and primary income)',
                     'Tax revenue (% of GDP)',
                     'External debt stocks, total (DOD, current US$) (millions)',
                     
                    ], inplace=True)

In [10]:
labels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 704 entries, 0 to 703
Data columns (total 43 columns):
 #   Column                                                                       Non-Null Count  Dtype
---  ------                                                                       --------------  -----
 0   Population, total (millions)                                                 703 non-null    object
 1   Population growth (annual %)                                                 703 non-null    object
 2   Surface area (sq. km) (thousands)                                            699 non-null    object
 3   Population density (people per sq. km of land area)                          701 non-null    object
 4   GNI, Atlas method (current US$) (billions)                                   647 non-null    object
 5   GNI per capita, Atlas method (current US$)                                   647 non-null    object
 6   GNI, PPP (current international $) (billions)                                641 non-null    object
 7   GNI per capita, PPP (current international $)                                640 non-null    object
 8   Life expectancy at birth, total (years)                                      681 non-null    object
 9   Fertility rate, total (births per woman)                                     684 non-null    object
 10  Adolescent fertility rate (births per 1,000 women ages 15-19)                668 non-null    object
 11  Births attended by skilled health staff (% of total)                         542 non-null    object
 12  Mortality rate, under-5 (per 1,000 live births)                              696 non-null    object
 13  Immunization, measles (% of children ages 12-23 months)                      688 non-null    object
 14  Primary completion rate, total (% of relevant age group)                     531 non-null    object
 15  School enrollment, primary (% gross)                                         634 non-null    object
 16  School enrollment, secondary (% gross)                                       597 non-null    object
 17  School enrollment, primary and secondary (gross), gender parity index (GPI)  580 non-null    object
 18  Prevalence of HIV, total (% of population ages 15-49)                        498 non-null    object
 19  Forest area (sq. km) (thousands)                                             698 non-null    object
 20  Annual freshwater withdrawals, total (% of internal resources)               574 non-null    object
 21  Urban population growth (annual %)                                           699 non-null    object
 22  CO2 emissions (metric tons per capita)                                       696 non-null    object
 23  GDP (current US$) (billions)                                                 679 non-null    object
 24  GDP growth (annual %)                                                        668 non-null    object
 25  Inflation, GDP deflator (annual %)                                           668 non-null    object
 26  Agriculture, forestry, and fishing, value added (% of GDP)                   626 non-null    object
 27  Industry (including construction), value added (% of GDP)                    624 non-null    object
 28  Exports of goods and services (% of GDP)                                     607 non-null    object
 29  Imports of goods and services (% of GDP)                                     607 non-null    object
 30  Gross capital formation (% of GDP)                                           592 non-null    object
 31  Time required to start a business (days)                                     457 non-null    object
 32  Military expenditure (% of GDP)                                              572 non-null    object
 33  Mobile cellular subscriptions (per 100 people)                               692 non-null    object
 34  Individuals using the Internet (% of population)                             683 non-null    object
 35  Merchandise trade (% of GDP)                                                 657 non-null    object
 36  Net barter terms of trade index (2000 = 100)                                 587 non-null    object
 37  Net migration (thousands)                                                    668 non-null    object
 38  Personal remittances, received (current US$) (millions)                      594 non-null    object
 39  Foreign direct investment, net inflows (BoP, current US$) (millions)         673 non-null    object
 40  Net official development assistance received (current US$) (millions)        518 non-null    object
 41  Date                                                                         704 non-null    int64
 42  country                                                                      704 non-null    object
dtypes: int64(1), object(42)
memory usage: 236.6+ KB

In [11]:
#pd.set_option("display.max_rows", None, "display.max_columns", None)
text.sort_values(by = ['country', 'year'], ascending = [True, True], ignore_index=True, inplace=True)
text.head(10)

,url,title,content,country,year,latest rev
0,https://constituteproject.org/constitution/Afg...,Afghanistan 1964 Historical,"in the name of god, the almighty and the just....",afghanistan,1964,1964
1,https://constituteproject.org/constitution/Afg...,Afghanistan 2004,"in the name of allah, the most beneficent, the...",afghanistan,2004,2004
2,https://constituteproject.org/constitution/Alb...,Albania 1998 (rev. 2016) Subsequently amended,"we, the people of albania, proud and aware of ...",albania,1998,2016
3,https://constituteproject.org/constitution/Alg...,"Algeria 1989 (reinst. 1996, rev. 2016) Historical",the algerian people are a free people; and the...,algeria,1989,2016
4,https://constituteproject.org/constitution/Alg...,Algeria 2020,the algerian people are a free people; and the...,algeria,2020,2020
5,https://constituteproject.org/constitution/And...,Andorra 1993,"the andorran people, with full liberty and ind...",andorra,1993,1993
6,https://constituteproject.org/constitution/Ang...,Angola 2010,"we, the people of angola, through its lawful r...",angola,2010,2010
7,https://constituteproject.org/constitution/Ant...,Antigua and Barbuda 1981,whereas the people of antigua and barbuda-a. p...,antigua-and-barbuda,1981,1981
8,https://constituteproject.org/constitution/Arg...,"Argentina 1853 (reinst. 1983, rev. 1994)","we, the representatives of the people of the a...",argentina,1853,1994
9,https://constituteproject.org/constitution/Arm...,Armenia 1995 (rev. 2015) Subsequently amended,"the armenian people, accepting as a basis the ...",armenia,1995,2015

In [12]:
labels.head(10)

,"Population, total (millions)",Population growth (annual %),Surface area (sq. km) (thousands),Population density (people per sq. km of land area),"GNI, Atlas method (current US$) (billions)","GNI per capita, Atlas method (current US$)","GNI, PPP (current international $) (billions)","GNI per capita, PPP (current international $)","Life expectancy at birth, total (years)","Fertility rate, total (births per woman)",...,Mobile cellular subscriptions (per 100 people),Individuals using the Internet (% of population),Merchandise trade (% of GDP),Net barter terms of trade index (2000 = 100),Net migration (thousands),"Personal remittances, received (current US$) (millions)","Foreign direct investment, net inflows (BoP, current US$) (millions)",Net official development assistance received (current US$) (millions),Date,country
0,12.41,4.5,652.9,19.0,NaN,NaN,NaN,NaN,50,7.5,...,0.0,0.0,NaN,NaN,3076,NaN,0,122.7,1990,afghanistan
1,20.78,3.0,652.9,31.8,NaN,NaN,NaN,NaN,56,7.5,...,0.0,0.0,63,100,744,NaN,0,136.0,2000,afghanistan
2,29.19,2.7,652.9,44.7,14.86,510,50.01,1710,61,6.0,...,35.0,4.0,35,145,522,378,191,6235.3,2010,afghanistan
3,38.93,2.3,652.9,59.6,19.32,500,81.65,2100,65,4.3,...,58.3,NaN,39,165,-315,789,23,4284.4,2020,afghanistan
4,12.41,4.5,652.9,19.0,NaN,NaN,NaN,NaN,50,7.5,...,0.0,0.0,NaN,NaN,3076,NaN,0,122.7,1990,albania
5,20.78,3.0,652.9,31.8,NaN,NaN,NaN,NaN,56,7.5,...,0.0,0.0,63,100,744,NaN,0,136.0,2000,albania
6,29.19,2.7,652.9,44.7,14.86,510,50.01,1710,61,6.0,...,35.0,4.0,35,145,522,378,191,6235.3,2010,albania
7,38.93,2.3,652.9,59.6,19.32,500,81.65,2100,65,4.3,...,58.3,NaN,39,165,-315,789,23,4284.4,2020,albania
8,3.29,1.8,28.8,119.9,2.14,650,8.37,2550,72,3.0,...,0.0,0.0,30,NaN,-443,152,0,11.1,1990,algeria
9,3.09,-0.6,28.8,112.7,3.41,1100,12.29,3980,74,2.2,...,1.0,0.1,39,100,-177,598,143,317.9,2000,algeria

In [13]:
labels['constitution'] = ''

for index, row in labels.iterrows():
    
    labels.loc[index,'constitution'] = text['content'].loc[(text.country == row['country']) & (text.year < row['Date'])].max()

In [14]:
labels.head(10)

,"Population, total (millions)",Population growth (annual %),Surface area (sq. km) (thousands),Population density (people per sq. km of land area),"GNI, Atlas method (current US$) (billions)","GNI per capita, Atlas method (current US$)","GNI, PPP (current international $) (billions)","GNI per capita, PPP (current international $)","Life expectancy at birth, total (years)","Fertility rate, total (births per woman)",...,Individuals using the Internet (% of population),Merchandise trade (% of GDP),Net barter terms of trade index (2000 = 100),Net migration (thousands),"Personal remittances, received (current US$) (millions)","Foreign direct investment, net inflows (BoP, current US$) (millions)",Net official development assistance received (current US$) (millions),Date,country,constitution
0,12.41,4.5,652.9,19.0,NaN,NaN,NaN,NaN,50,7.5,...,0.0,NaN,NaN,3076,NaN,0,122.7,1990,afghanistan,"in the name of god, the almighty and the just...."
1,20.78,3.0,652.9,31.8,NaN,NaN,NaN,NaN,56,7.5,...,0.0,63,100,744,NaN,0,136.0,2000,afghanistan,"in the name of god, the almighty and the just...."
2,29.19,2.7,652.9,44.7,14.86,510,50.01,1710,61,6.0,...,4.0,35,145,522,378,191,6235.3,2010,afghanistan,"in the name of god, the almighty and the just...."
3,38.93,2.3,652.9,59.6,19.32,500,81.65,2100,65,4.3,...,NaN,39,165,-315,789,23,4284.4,2020,afghanistan,"in the name of god, the almighty and the just...."
4,12.41,4.5,652.9,19.0,NaN,NaN,NaN,NaN,50,7.5,...,0.0,NaN,NaN,3076,NaN,0,122.7,1990,albania,NaN
5,20.78,3.0,652.9,31.8,NaN,NaN,NaN,NaN,56,7.5,...,0.0,63,100,744,NaN,0,136.0,2000,albania,"we, the people of albania, proud and aware of ..."
6,29.19,2.7,652.9,44.7,14.86,510,50.01,1710,61,6.0,...,4.0,35,145,522,378,191,6235.3,2010,albania,"we, the people of albania, proud and aware of ..."
7,38.93,2.3,652.9,59.6,19.32,500,81.65,2100,65,4.3,...,NaN,39,165,-315,789,23,4284.4,2020,albania,"we, the people of albania, proud and aware of ..."
8,3.29,1.8,28.8,119.9,2.14,650,8.37,2550,72,3.0,...,0.0,30,NaN,-443,152,0,11.1,1990,algeria,the algerian people are a free people; and the...
9,3.09,-0.6,28.8,112.7,3.41,1100,12.29,3980,74,2.2,...,0.1,39,100,-177,598,143,317.9,2000,algeria,the algerian people are a free people; and the...

In [15]:
labels.to_csv("data/merged.csv", index=False)