In [1]:
%matplotlib inline 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
import pandas as pd

In [2]:
import nltk
#nltk.download('stopwords')
from nltk import word_tokenize
from nltk.corpus import stopwords
stop_words = stopwords.words('english')

In [3]:
text = pd.read_csv("data/constitutions.csv")
text.head(5)

,url,title,content,country,year,latest rev
0,https://constituteproject.org/constitution/Afg...,Afghanistan 2004,"in the name of allah, the most beneficent, the...",afghanistan,2004,2004
1,https://constituteproject.org/constitution/Afg...,Afghanistan 1964 Historical,"in the name of god, the almighty and the just....",afghanistan,1964,1964
2,https://constituteproject.org/constitution/Alb...,Albania 1998 (rev. 2016) Subsequently amended,"we, the people of albania, proud and aware of ...",albania,1998,2016
3,https://constituteproject.org/constitution/Alg...,"Algeria 1989 (reinst. 1996, rev. 2016) Historical",the algerian people are a free people; and the...,algeria,1989,2016
4,https://constituteproject.org/constitution/Alg...,Algeria 2020,the algerian people are a free people; and the...,algeria,2020,2020

In [4]:
import string

def text_cleaning(text):
    remove_punctuation = [char for char in text if char not in string.punctuation]
    remove_punctuation = "".join(remove_punctuation)  
    return [word for word in remove_punctuation.split() if word.lower() not in stopwords.words('english')]

In [5]:
print(text['content'].apply(text_cleaning))

0      [name, allah, beneficent, mercifulpraise, alla...
1      [name, god, almighty, justto, reorganize, nati...
2      [people, albania, proud, aware, historywith, r...
3      [algerian, people, free, people, resolved, rem...
4      [algerian, people, free, people, resolved, rem...
                             ...
222    [course, millenniaold, history, vietnamese, pe...
223    [federal, republic, yemen, federal, state, civ...
224    [republic, yemen, arab, islamic, independent, ...
225    [people, zambiaacknowledge, supremacy, god, al...
226    [people, zimbabweunited, diversity, common, de...
Name: content, Length: 227, dtype: object

In [6]:
from sklearn.feature_extraction.text import CountVectorizer
bow_transformer = CountVectorizer(analyzer=text_cleaning).fit(text['content'])
content_bow = bow_transformer.transform(text['content'])

In [7]:
from sklearn.feature_extraction.text import TfidfTransformer
tfidf_transformer = TfidfTransformer().fit(content_bow)
content_tfidf = tfidf_transformer.transform(content_bow)

In [8]:
labels = pd.read_csv("data/labels.csv")
labels.head()

,"Population, total (millions)",Population growth (annual %),Surface area (sq. km) (thousands),Population density (people per sq. km of land area),"GNI, Atlas method (current US$) (billions)","GNI per capita, Atlas method (current US$)","GNI, PPP (current international $) (billions)","GNI per capita, PPP (current international $)","Life expectancy at birth, total (years)","Fertility rate, total (births per woman)",...,Mobile cellular subscriptions (per 100 people),Individuals using the Internet (% of population),Merchandise trade (% of GDP),Net barter terms of trade index (2000 = 100),Net migration (thousands),"Personal remittances, received (current US$) (millions)","Foreign direct investment, net inflows (BoP, current US$) (millions)",Net official development assistance received (current US$) (millions),Date,country
0,12.41,4.5,652.9,19.0,NaN,NaN,NaN,NaN,50.0,7.5,...,0.0,0.0,NaN,NaN,3076.0,NaN,0.0,122.7,1990,afghanistan
1,20.78,3.0,652.9,31.8,NaN,NaN,NaN,NaN,56.0,7.5,...,0.0,0.0,63.0,100.0,744.0,NaN,0.0,136.0,2000,afghanistan
2,29.19,2.7,652.9,44.7,14.86,510.0,50.01,1710.0,61.0,6.0,...,35.0,4.0,35.0,145.0,522.0,378.0,191.0,6235.3,2010,afghanistan
3,38.93,2.3,652.9,59.6,19.32,500.0,81.65,2100.0,65.0,4.3,...,58.3,NaN,39.0,165.0,-315.0,789.0,23.0,4284.4,2020,afghanistan
4,12.41,4.5,652.9,19.0,NaN,NaN,NaN,NaN,50.0,7.5,...,0.0,0.0,NaN,NaN,3076.0,NaN,0.0,122.7,1990,albania

In [18]:
display(labels.iloc[:,40])

0       122.7
1       136.0
2      6235.3
3      4284.4
4       122.7
        ...
699    1094.6
700     474.8
701     794.7
702     919.3
703     976.3
Name: Net official development assistance received (current US$) (millions), Length: 704, dtype: float64

In [19]:
from sklearn.model_selection import train_test_split
for i in range(0,40):
    X_train, X_test, y_train, y_test = train_test_split(content_tfidf, labels.iloc[:,i], test_size=0.3)

ValueError: Found input variables with inconsistent numbers of samples: [227, 704]